<div id="<%= dom_id user %>">
  <p>
    <strong>Username:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Crypted password:</strong>
    <%= user.crypted_password %>
  </p>

  <p>
    <strong>Salt:</strong>
    <%= user.salt %>
  </p>

</div>
